[Unit]
Description=Gullveig Full Node
After=network.target

[Service]
User=gullveig
Group=gullveig
WorkingDirectory=~

Type=forking
PIDFile=/var/run/gullveigd.pid

ExecStart=/usr/bin/gullveigd --config-file /etc/gullveigd.conf \
    --detach --pidfile /var/run/gullveigd.pid

[Install]
WantedBy=multi-user.target
